/*
General
 */

@font-face {
    font-family: Neuropol;
    src: url("./assets/fonts/Neuropol.otf") format("opentype");
}

@font-face {
    font-family: Michroma;
    src: url("./assets/fonts/Michroma.ttf") format("truetype");
}

/* WebKit and Blink */
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

:root {
    --text: rgba(255, 255, 255, 0.75);
    --text-dark: rgba(0, 100, 100, 0.75);
    --box: rgba(255, 255, 255, 0);
    --button: rgba(255, 255, 255, 0.5);
    --shadow: rgba(0, 100, 100, 0.75);
    --shadow-dark: rgba(255, 255, 255, 0.5);
    --important: #0e83b5;
    --danger: hwb(0 25% 0%);
    --success: lawngreen;
}

html {
    font-size: 24px;
}

/*@media (max-width: 1024px) {
    html {
        font-size: 48px;
    }
}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Michroma', serif;
    font-weight: normal;
    line-height: 1;
    color: var(--text);
    text-shadow: 0 0 0.75rem var(--shadow);
}

/*
Page
 */

body {
    overflow-x: hidden;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0.3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    transition: filter 0.3s ease;
    gap: 0.3rem;
}

.grid-small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    transition: filter 0.3s ease;
    gap: 0.3rem;
}

.grid-small .card {
    border-radius: calc((400% + 0.9rem) * 0.1);
}

.card {
    aspect-ratio: 1 / 1;
    padding: 10%;
    border-radius: calc((200% + 0.3rem) * 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    transition: transform 2s ease, scale 0.5s ease;
    position: relative;
    box-shadow: inset 0 0 0.5rem 0 rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.25rem) !important;
}

.button {
    cursor: pointer;
    text-decoration: none;
}

.button:active {
    scale: 0.95 !important;
}

.icon {
    position: absolute;
    max-height: 40%;
    max-width: 40%;
    opacity: 0.75;
    filter: drop-shadow(0 0 0.75rem var(--shadow));
}

.icon-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-wrapper {
    perspective: 1000px;
}

.title {
    line-height: 0.95;
    font-weight: bold;
    text-align: left;
}

.title-fit {
    line-height: 0.95;
    font-weight: bold;
    text-align: center;
}

.card:hover {
    scale: 1.05;
    z-index: 10;
}

.flip-x {
    transform: rotateX(180deg);
}
.flip-y {
    transform: rotateY(180deg);
}

.big {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 10% !important;
}

.big p {
    margin: 0 !important;
}

.curtain {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, backdrop-filter 0.4s ease;
}

.curtain.active {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(0.75rem);
}

.content {
    max-width: 32rem;
    margin: 2rem auto 1rem auto;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.curtain.active .content {
    transform: translateY(0);
}

.content p {
    color: white !important;
}

.content .content-button {
    display: block;
    margin-bottom: 1rem;
    background: transparent;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.content a {
    text-decoration: none;
}

.content .content-button:hover {
    opacity: 0.5;
}

.content .content-button:active {
    opacity: 0.25;
}

/* Responsive breakpoints */
@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
Text
 */

p {
    margin-bottom: 1rem;
    text-align: justify;
}

h1 {
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
}

a:visited {
    color: var(--text);
}

.text-link {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.text-link:hover {
    cursor: pointer;
    opacity: 0.5;
}

.text-link:active {
    color: var(--text-dark);
}

.danger {
    color: var(--danger);
}

.success {
    color: var(--success);
}

.important {
    font-family: 'ObjectSans-Bold', sans-serif;
    font-style: italic;
}

.last {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic !important;
}

label, .text-link, input, p, .alert, textarea {
    font-size: 0.75rem !important;
}

ul {
    list-style: none;
}

li {
    position: relative;
    padding-left: 1rem;
}

li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
}